footer.footer
  .footer__logo
    img(src='/img/logo-green.png', alt='Natours logo')
  ul.footer__nav
    li: a(href='#') About us
    li: a(href='#') Download apps
    li: a(href='#') Become a guide
    li: a(href='#') Careers
    li: a(href='#') Contact
  p.footer__copyright &copy; by Torab Ramin. All rights reserved.

block footer-script
  //- script(src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js')
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js")
  //- script(src="/js/login.js")
  //- script(src="/js/mapbox.js")
  script(src='https://js.stripe.com/v3/')
  script(src="/js/bundle.js")